body 
{
    color:#ffffff;
    background-color: #11110e;
    font-size: 15px;
    font-family: cursive;
}

/* Introduction Class CSS */
.IntChaptersClass 
{
    justify-content: space-between;
    display: inline-block;
    list-style-type: none;
    padding: 16px;
    text-align: left;
}
.IntHomeClass
{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: -25%;
    justify-content: space-between;
    display: inline-block;
    list-style-type: none;
    padding: 16px;
    text-align: center;

}
.IntDeviantArtClass
{
    position: relative;
    width: 10%;
    right: 0%;
    justify-content: space-between;
    display: inline-block;
    list-style-type: none;
    padding: 16px;
    text-align: right;
}

    #Img
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 1000px;
        height: 500px;
    }
  
    #Tx {
    
        position: absolute;
        font-size: 28px;
        left: 250px;
        top: 200px;
        color:#bec98f;
        font-family: cursive;
    } 

/* Chapter Class CSS */
.ChIntroductionClass 
{
    justify-content: space-between;
    display: inline-block;
    list-style-type: none;
    padding: 16px;
    text-align: left;
}
.ChHomeClass
{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: -25%;
    justify-content: space-between;
    display: inline-block;
    list-style-type: none;
    padding: 16px;
    text-align: center;

}
.ChDeviantArtClass
{
    position: absolute;
    width: 20%;
    right:  5%;
    justify-content: space-between;
    display: inline-block;
    list-style-type: none;
    padding: 16px;
    text-align: right;
}


/* Home Class CSS */
.HoIntroductionClass
{
    justify-content: space-between;
    display: inline-block;
    list-style-type: none;
    padding: 16px;
    text-align: left;
}
.HoDeviantArtClass
{
    position: relative;
    width: 10%;
    right: -75%;
    justify-content: space-between;
    display: inline-block;
    list-style-type: none;
    padding: 16px;
    text-align: right;
}

/* Links CSS */
a:link
{

    background-size: 200px 100px;
    color: #ffffff;
    text-decoration: none;
}
a:visited
{
    color: #ffffff;
}


/*Images of gallery */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.ChChapterOne
{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.Gallery-Container-One
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    gap: 2vw;
}
.Gallery-Items
{
    width: 260px;
    height: 340px;
    list-style-type: none;
    border: 5px solid #7e7e74;
    flex-grow: 1;
    filter: grayscale(100%);
    transition: transform 0.2s linear;
}
.Gallery-Items img
{
    width: 100%;
    height: 100%;
    list-style-type: none;
    object-fit: cover;
    
}
.Gallery-Items:hover
{
    transform: scale(1.4);
    filter: none;
}
footer
{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7e7e74;
    font-style: italic;
}